
.grid { 
  display: grid;
 
 grid-template-areas:
"h h h"
"n c c";
 grid-template-rows: 120px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  
}
.content-wrapper{
  grid-area: c;
  background-color:yellow;
}

